a {
  color: #fff;
  font-size: 18px;
}

a:visited {
  color: #fff;
}

a:active {
  color: #fff;
}

body {
  background-color: #191c3c;
  color:#fff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.7;
}

h1 {
  margin-left: 5px;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.35;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-left: 5px;
  font-weight: 300;
}

li {
  line-height:25px;
}

p {
  margin: 5px;
}

.block_element {
  display: inline-block;
}

.linkbar {
  width: 96vw;
  text-align: right;
  margin: 15px 5px 25px 0px;
}

.linkbar a {
  text-decoration: none;
  padding: 5px 8px 5px 8px;
}

.linkbar a:hover {
  color: #fff;
  background-color: rgb(49, 28, 135);
}

.projects_container {
  display: flex;
  flex-wrap: wrap;
}

.project {
  background-color: rgba(49, 28, 135, 0.25); /*0.344 0.144*/
  display: inline-block;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  width: 510px;
  opacity:0;
  transition: opacity 1s;
}

.project.visible {
  opacity:1;
}

/* less wide screen, not let images be too wide */
@media (max-width:600px) {
  img {
      max-width:100%;
  }

  .project {
    width:unset;
  }

  .linkbar {
    width:90vw;
  }
}
