body {
/*  background-color: #6ded8a;*/
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  margin: 5px;
}

.linkbar a {
  font-size: 18px;
  text-decoration: none;
  padding: 5px 8px 5px 8px;
  color: black;
}

.linkbar a:visited {
  color: black;
}

.linkbar a:hover {
  color: black;
  background-color: rgb(130, 31, 150);
}

.linkbar a:active {
  color: black;
  /*color: rgb(130, 31, 150);*/
}

h1 {
  color:rgb(130, 31, 150);
  /*color: #3b61e9;*/
  margin-left: 5px
}

li {
  line-height:25px;
}

.block_element {
  display: inline-block;
}

.linkbar {
  width: 96vw;
  text-align: right;
  margin: 15px 5px 25px 0px;
}

.topimage{
  height: 40px;
}

/*
old school color-palette:
#f0f14e #6ded8a #1645f5 #ff5f85 #ed3833 
greens complementary:
#ED6DCF
*/

/* less wide screen, not let images be too wide */
@media (max-width:500px) {
  img {
      max-width:100%;
  }

  .linkbar {
    width:90vw;
  }
}